<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
	<thead>
		<tr>
		 <th>pais</th>
		 <th>mensajes</th>
		</tr> 	
	</thead>
	<tbody>
		<tr th: each= "mensajes : ${mensajes}">
		<th th: text="${mensajes.pais}"></th>
		<th th: text="${mensajes.mensajes}"></th>
	</tr>
	
	</tbody>
	</table>
	
	<form action="#" th: action="@{/mensajes/addmensajes"} th: object ="${mensaje}" method ="post">
	<p><input type = "text" placeholder="pais" th: field="*{pais}"/></p>
	<p><input type = "text" placeholder="mensaje" th: field="*{mensaje}"/></p>
	<button id="fBoton" class="submit" >Enviar</button>
	</form>
	
</body>
</html>
